@import url(reset.css);
@import url(common.css);

body{
    font-family: "Poppins";
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > header{
    flex-grow: 1;
}

.header {
}
.header__services {
}
.services {
    padding: 100px 0;
}
.services__container {
}
.services__header {

    
}
.header-service__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    color: #000000;
    display: block;
    background: url("../img/line.png") 126px no-repeat;
    margin-bottom: 40px;
}
.services__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.services__column {

}

.services__item {
}
.item-services {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.item-services__image{
    flex: 0 0 62.166667%; /* 746/1200 */
    overflow: hidden;
}
.item-services__image img {
    max-width: 100%;
    transition: transform 0.8s
}
.item-services__image img:hover {
transform: scale(1.05);
}
.item-services__body{
    flex: 0 1 37.833333%;
    display: flex;
    flex-direction: column;
    margin-top: 97px;
}
.item-services__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.41; /* 34/24 */
    color: #333333;
    margin-bottom: 20px;
}
.item-services__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61; /* 29/18 */
    color: #9C9C9C;
    
}


.main {
}
.main__portofolio-details {
}
.portofolio {
}
.portofolio__container {
}
.portofolio__header {
}
.header-portfolio {
}
.header-portfolio__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.39; /* 78/56 */
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
}
.header-portfolio__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61; /* 29/18 */
    color: #000000;
    max-width: 518px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 53px;
}
.header-portfolio__image {
    margin-bottom: 100px;
}
.portfolio__details {
    margin-bottom: 81px;
    
}
.details-portfolio {
    display: flex;
    gap: 32px;
    
}
.details-portfolio__column {
    flex: 0 0 584px;
}
.details-portfolio__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.41; /* 34/24 */
    color: #333333;
    margin-bottom: 24px;
}
.details-portfolio__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61; /* 29/18 */
    color: #9C9C9C;
    
}
.details-portfolio__text{
    margin-bottom: 60px;
}
.details-portfolio__items {
    display: flex;
    gap: 80px;
    
   
    
}
.item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61; /* 29/18 */
    color: #9C9C9C; 
}
.item__data {
    
    
}
.item__text {
}
.details-portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin: 0 -16px;
    margin-bottom:100px;
}

.gallery__img{
    max-width: 100%;
    flex: 0 1 auto;
    padding: 0 16px;
    overflow: hidden;
}
.gallery__img img{
    transition: all 0.8s;
}
.gallery__img img:hover{
    transform: scale(1.05);
}

