@import url(reset.css);

h1{
    color: brown;
}
h2{
    color: rgb(30, 255, 0);
}

.content{
    color: yellowgreen;
}

.list{
    color: blue;
}

.list p{
    color: yellow;
}

#history,
#mj{
    color: brown;
}

.history{
color: blueviolet;
}

.development{
    color: bisque;
}

.shoes{
color: darkslategrey;
}

.shoes .aaa {
    color: brown;
}


[class*="__mj"] {
	 color: green;
}

.text{
    color: rgb(6, 241, 210);
}

.text + p{
    color: chartreuse;
}